<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<center><h1>Password Changed</h1></center>

<p>Dear <%=name%>,</p>
<br/>
<p>Your password for Everything Satvik has been updated successfully. If you have not initiated this kindly contact <a href="mailto:everythingsatvik.foryou@gmail.com">everythingsatvik.foryou@gmail.com</a>.</p>
<br/>

<p>If you updated your password, you can safely ignore this mail.</p>

<p>Thank you</p>