<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<center><h1>RESET PASSWORD</h1></center>

<p>Dear <%=name%>,</p>
<br/>
<p>Seems like you forgot your password for Good-Act. If so, please use the below code to reset your password.</p>
<br/>
<center><h2>Your reset code is <%=code%></h2></center>

<p>If you did not forgot your password, you can safely ignore this mail.</p>